#brand {
    color: rgb(34, 34, 34);
    font-weight: bolder;
}
#link {
    border-radius: 4%/20%;
    border-color: rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);

    color: rgb(14, 14, 14);
    font-family: monospace;
    font-weight: 00;
}
#link :hover {
    color: black;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    
}
